

/* Globle Styles
------------------------------------------------------------------------  */
body{
    color: #343434;
}
img{
    width: 300px;
    
}

/* profile
------------------------------------------------------------------------  */
header{
    background-color: #2f3061;
}


/* Work exprences
------------------------------------------------------------------------  */



/* Projects
------------------------------------------------------------------------  */



/* footer
------------------------------------------------------------------------  */

